h1 {
  font-family: "Lato", sans-serif;
  font-size: 11.5vw;
  font-weight: 700;
}

h2 {
  font-family: "Cabin", sans-serif;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
}

h3 {
  font-family: "Lato", sans-serif;
  letter-spacing: -0.1vw;
  font-size: 4vw;
  font-weight: 500;
}

p,
a {
  font-family: "Lato", sans-serif;
  font-size: 2.6vw;
  font-weight: 400;
}

h1,
h2,
h3,
p,
a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 6vh;
  }

  h2 {
    font-size: 4vh;
    letter-spacing: 0.1vh;
  }

  h3 {
    letter-spacing: -0.1vh;
    font-size: 3vh;
  }

  p,
  a {
    font-size: 2.6vh;
  }
}
