.flexbox-container-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40%;
  max-height: auto;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 3%;
}

.flexbox-image {
  display: flex;
  max-width: 100%;
}

.image {
  width: 100%;
  height: auto;
}

.flexbox-title {
  max-width: 100%;
  margin: 5% 0% 0% 0%;
  text-transform: uppercase;
}

.flexbox-number {
  margin: 5% 0% 0% auto;
}

.flexbox-description {
  flex-wrap: wrap;
  margin-top: 3%;
  min-height: 10vw;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* Blur-zoom Container */
.img-hover-zoom--blur img {
  transition: transform 1s, filter 1s ease-in-out;
  transform: scale(1.12);
}

/* The Transformation */
.img-hover-zoom--blur:hover img {
  transform: scale(1.05);
}

.img-hover-zoom {
  width: 100%; /* Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}

@media screen and (max-width: 768px) {
  .flexbox-container-card {
    margin: 0% 2% 4% 2%;
  }

  .img-hover-zoom--blur img {
    transform: scale(1);
  }
}
