<div class="flexbox-container-card">
  <div class="img-hover-zoom img-hover-zoom--blur">
    <a href="{{project.linkOne}}" target="_blank">
    <img src="/assets/card-images/{{project.imageName}}" class="flexbox-image" class="image" alt="{{project.title}} image"></a>
    <!-- <a href="https://placeholder.com" class="flexbox-image"><img [src]="imgSrc" class="image" alt="Immagine non disponibile"></a> -->
  </div>
  <div class="break"></div>
  <h3 class="flexbox-title">{{project.title}}</h3>
  <h3 class="flexbox-number">{{project.number}}</h3>
  <div class="break"></div>
  <p class="flexbox-description">{{project.description}}</p>
</div>
