p {
  width: -webkit-fit-content;
  height: -webkit-fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  font-size: 2.2vw;
}

.toBlur {
  backdrop-filter: blur(2vw);
}

#contattami {
  color: inherit;
  margin: 0vw 3vw 0vw 0vw;
  cursor: pointer;
  position: relative;
  background-color: inherit;
}

#contattami:hover {
  color: inherit;
}

#contattami::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.1vw;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#contattami:hover::before {
  transform: scaleX(1);
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.8vh;
  }

  .toBlur {
    backdrop-filter: blur(2vh);
  }
}
