<div class="flexbox-container-homepage">
  <h1>UX-UI<br>Designer</h1>
  <div id="navbar">
    <app-scroll-to-button [nameToPass]="nameToPass"></app-scroll-to-button>
    <a id="archivio" href="https://www.behance.net/lorenzotonetta1" target="_blank" class="toBlur">ARCHIVIO</a>
  </div>
</div>
<div id="introduction">
  <p>
    Ciao, mi chiamo <b>Lorenzo</b> e sono uno studente all'ultimo anno di
    <a href="https://offertaformativa.unitn.it/it/l/interfacce-e-tecnologie-della-comunicazione"
      target="_blank"><em>Interfacce e Tecnologie della Comuncazione</em></a>.
  </p>
</div>

<app-card-manager></app-card-manager>
<app-contacts></app-contacts>
